.accordion-navigation>a:after {
    content: "↡";
    padding-left: 5px;
    float: right;
    font-size: 20px;
}

.accordion-navigation.active>a:after {
    content: "↟";
}

.labelrow {
   position: absolute;
   bottom: 0%;
}

.toggle-menu {
  position: relative;
  font-size: 4rem;
  z-index: 5000;
  color: #333;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out; }
  .toggle-menu:hover {
    transition: all 0.4s ease-in-out;
    color: gray;
  }

.overlay-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  margin-right: 300px;
  padding: 5rem 0 0;
  opacity: 0.5;
  list-style: none;
  background: url("images/abstract-1779645_1920.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985); }
  .overlay-menu li {
    font-size: 1.5rem; }
  .overlay-menu a {
    display: block;
    color: #a1a1a1;
    font-size: 42px;
    height: 6.25rem;
    line-height: 6.25rem;
    text-decoration: none; }
    .overlay-menu a:hover {
      background-color: #3D406B; }
  .overlay-menu.is-open ~ .toggle-menu {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    transform: rotate(135deg);
    color: white;
  }

.is-open {
  top: 0;
  opacity: 1;
  transform: perspective(200px) translateX(0) rotateX(0);
}

.footertext {
  opacity: 0.7;
  padding-left: 15px;
}

.barchart {
  background-color: #dddddd;
  height: 1em;
  width: 100%;
}

.barchart .meter {
  background: #3D406B;
  height: 100%;
  display: block;
}

table.chart {
  width: 100%;
  border-width: 0;
  margin: 20px 0;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #dddddd;
}

td.chart {
  font-size: 14px;
  margin-bottom: 50px;
  width: 100%;
}

p.percentage {
  font-size: 24px !important;
  color: #3D406B;
  font-weight: 300;
  }

.spaces {
  margin-right: 5px;
}

.spaceshere {
  margin-left: 50px;
  padding-left: 10px;

}
